@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&family=Open+Sans:wght@300&display=swap');
@import url(//db.onlinewebfonts.com/c/2dd7bc145b8ea5f1c3f6dcfd9beead34?family=HirukoW01-Regular);
* {
    margin: 0;
    padding: 0;

  }
  body  {
    font-family: sans-serif;
    padding-left: 30px;
    padding-top: 20px;
  }
  .navbar{
    width: 100%;
    height: 60px;
    
  }
  .logo{
    float: left;
    width: 90px;
    padding: 20px;
    padding-left: 20px;
  }
  .nav-items{
    margin: 0px;
    padding: 10px;
    float: left;
    margin: 10px 50px;
}
.nav-item {
    display: inline;
    padding: 15px;
    font-family: sans-serif;
    text-align: center;
    padding-left: 50px;
    padding-right: 50px;
    list-style-type: none;
}
.actions{
    float: right;
    margin-right: -50px;
    width: 325px;
}
.nav-item:hover{
    color: #FE5E35;
    cursor: pointer;
}
.circles{
    width: 50px;
}
.left-section > h3{
    font-size: 25px;
    padding: 10px 20px;
    font-family: Open Sans;
}
.left-section > h1{
    font-family: "HirukoW01-Regular";
    font-size: 60px;
    padding: 10px 20px ;
}
.sub-headline >img {
    height: 15px;
    width: 15px;
    background-color: #FE5E35;
    border-radius: 50%;
    display: inline-block;
    padding: 5px;
    margin-right: 15px;
    position: relative;
    top: 5px;
}
.sub-headlines{
    margin: 20px 70px;
}
.sub-headline{
    padding: 10px;
    font-size: 20px;
    font-family: Montserrat, ;
    font-weight: 100;
}
.text{
    overflow: auto;
    color: #C0C0C0;
    font-size: small;
    padding: 30px;
    display: inline-block;
}
.right-section{
    /* width: 100%;
    display: flex;
    justify-content: right;
    align-items: flex-end;
    display: flex;
    flex: 2; */
    float: right;
    position: relative;
    bottom: 40px;
}
.left-section{
    width: 60%;

}
.headphone{
    position: relative;
    bottom: 590px;
    right: 60px;
    width: 400px;
    z-index: 2;
}
.discount{
    width: 100px;
    z-index: 3;
    position: relative;
    bottom: 225px;
    right: 80px;
}
.discount-content{
    position: relative;
    bottom: 297px;
    right: 50px;
    z-index: 4;
    color: white;
    font-size: 13px;
}
.discount-content > h4 {
    font-size: 8px;
    justify-content: center;
}
.action-btn{
    background-color: #FE5E35;
    border: none;
    width: 125px;
    height: 35px;
    color: white;
    border-radius: 20px;
    margin: 10px;
}
.action-btns{
    padding-left: 20px;
}
.dot {
    box-sizing: border-box;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    border: .125rem solid;
    display: inline-block;
    border: none;
    margin: 12px;
}
.yellow-dot { background-color: #FBD104; }
.tomato-dot { background-color: tomato; }
.black-dot { background-color: black; }

.dots{
    position: relative;
    bottom: 600px;
    left: 50px;
}
.btn{
    position: relative;
    bottom: 580px;
    left: 70px;
}